[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pytest = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
